.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  img {
    width: 100px;
  }
  .nav-links-wrapper {
    display: inline-block;
  }
  .collection-one,
  .collection-two {
    display: inline-block;
    vertical-align: top;
    position: relative;
    ul {
      transform: translateY(-500px);
    }
  }
  .login-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    border-radius: 5rem;
    background: black;
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    // img { 
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 100%;
    //   transform: translateY( -65px);
    // }
  }
}