.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  img {
    width: 100px;
  }
  .nav-links-wrapper {
    display: inline-block;
  }
  .collection-one,
  .collection-two {
    display: inline-block;
    vertical-align: top;
    position: relative;
    ul {
      transform: translateY(-500px);
    }
  }
}