.plants {
  .plant-wrapper {
    img{
      border-left: 10px solid lightgreen;
    }
  }
}

.plant-wrapper {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  h3 , p {
    text-align: left;
    padding-left: 20px;
  }
  img {
    width: 100%;
  }
}