.plants {
  .plant-wrapper {

     .img-link-wrapper {
      border-left: 10px solid lightgreen;
      a, 
      a img {
        display: block;
      }
    }
  }
 
}

.plant-wrapper {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  h3 , p {
    text-align: left;
    padding-left: 20px;
  }
  img {
    width: 100%;
  }

  .comment-form-wrapper {
    form {
      text-align: left;
      textarea {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
    }
  }
}